0x08-python-more_classes/__pycache__/0-rectangle.cpython-310.pyc
0x08-python-more_classes/__pycache__/1-rectangle.cpython-310.pyc
0x08-python-more_classes/__pycache__/1-rectangle1.cpython-310.pyc
1-main.py
1-rectangle1.py